<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/res/scqp/images/goldAtt/att_big_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{195,195}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_btn_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,365},{89,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,67}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_btn_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{259,111}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,160}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_btn_g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,167},{259,99}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,160}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_btn_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{259,112}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,160}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_btn_y2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,266},{259,99}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,160}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_fontimg_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,111},{109,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,46}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_fontimg_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,111},{108,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,46}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_fontimg_gotPoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,274},{105,46}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,46}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_fontimg_notbuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,0},{167,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,46}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_fontimg_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,167},{107,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,46}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_small_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{195,195}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_set_arrowbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,454},{42,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,60}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_selectbet_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,111},{40,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,45}</string>
			</dict>
			<key>games/res/scqp/images/goldAtt/att_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,454},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>att_pin.png</string>
			<key>realTextureFileName</key>
			<string>att_pin.png</string>
			<key>size</key>
			<string>{500,504}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>504</integer>
		</dict>
	</dict>
</plist>